.projects-container {
  border: 1px solid red;
}

.project-item-container {
  box-sizing: border-box;
  margin: 10px;
  height: 150px;
  width: auto;
  border: 1px solid blue;
  display: flex;
}

.project-item-background {
  height: inherit;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}